<!DOCTYPE html>

<html>
 <head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel= "stylesheet" href="/css/styles.css">   
 </head>
 <body>
      <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/me.jpg">
      </div>
     
      <p>App desenvolvido por Valdecir Bornatto em node js como execício do curso </p>
      <p>        
         <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/">Curso na Udemy</a> 
      </p>
    {{>footer}}
 </body>

</html>